.blog-post-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    justify-content: center;
}

.intro-image {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 5px;
    max-width: 700px;
    max-height: 700px;
    display: flex;
    justify-content: center;
}

.intro-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    box-shadow: 0px 4px 8px 3px rgb(113 108 108 / 80%);
}

.big-text-box {
    margin: 0 auto;
    min-width: 300px;
    max-width: 60em;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
}

.small-text-box {
    margin: auto;
    min-width: 200px;
    max-width: 35%;
    font-family: sans-serif;
    font-size: large;
    text-align: left;
}

.big-box {
    min-width: 300px;
    max-width: 75%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 5px;
    vertical-align: top;
    justify-content: center;
}

.code-box {
    min-width: 200px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-y: auto;
    justify-content: center;
}

.code-box p {
    text-align: center;
    margin: auto;
}

.image-box {
    margin: auto;
    margin-top: 3%;
    min-width: 200px;
    min-height: 200px;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    justify-content: center;
}

.image-box img {
    width: 90%;
    min-height: 400px;
    height: 90%;
    object-fit: fill;
}

.image-box p {
    display: flex;
    justify-content: center;
}