.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3%;
    padding: 20px;
}

.big-box {
    display: flex;
    width: 85%;
    padding: 20px;
    margin: auto;
    margin-bottom: 4%;
    flex-direction: row;
    justify-content: space-between;
}

.image-box {
    margin: 1%;
    width: 80%;
    height: 80%;
}

.text-box {
    margin: auto;
    padding: 20px;
    width: 35%;
    height: 35%;
    vertical-align: top;
}

.big-box-3 {
    margin-bottom: 1px;
}

.descriptor {
    font-size: 20px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}